extends layout

block content
  header(class='page-header')
    img(src="/images/masthead.svg"
        width="128"
	id="masthead"
	alt="-l- P1S2 FML CPN COA N")
    h1(class='page-title')= title
    p(class='page-subtitle')= subtitle
  main(class='content-wrapper')
